# No subir la carpeta de Inteligencia Artificial
ia/
# =========================
# ENTORNOS VIRTUALES
# =========================
venv/
.venv/
env/
ENV/
ia/venv/
ia/.venv/

# =========================
# PYTHON
# =========================
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

# =========================
# TENSORFLOW / MODELOS
# =========================
*.h5
*.hdf5
*.keras
*.pb
*.onnx
*.tflite

# =========================
# JUPYTER
# =========================
.ipynb_checkpoints/

# =========================
# VS CODE
# =========================
.vscode/

# =========================
# VARIABLES DE ENTORNO
# =========================
.env
.env.*

# =========================
# LOGS
# =========================
*.log

# =========================
# SISTEMA
# =========================
.DS_Store
Thumbs.db
desktop.ini